#upload
  form(action="/upload", method="POST")
      #filedrag(style='width:200px;height:200px')
          img#tgt_image
      input(type="file", id="fileselect", name="fileselect[]", multiple="multiple")  
      
      ul#label_list
      input#label_input(type='text')
      script(type='text/javascript')
        $('#label_input').on('keypress', function(e) {
            label_input_keypress(e);
        });
        //TODO: pull url out of page params

      #submitbutton
        input(type="submit")
      button(id="cancelButton") Cancel

      #messages
  
